# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/

# Environments
venv/

.python-version

# Tooling caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

